# Ponderada de Matemática Semana 6

Rode eses primeiro comando para instalar as dependências

In [1]:
# !pip install scikit-learn pandas numpy

Importandos as dependências

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

Ajustando nossos dados

In [3]:
receitas = [110000, 113000, 110000, 111000, 112000, 115000, 115000, 120000, 112000, 112000, 114000, 125000, 126000, 131000, 131000, 134000, 135000, 137000, 140000, 139000, 135000, 135000, 137000, 144000]
datas = pd.date_range(start="2023-01-01", periods=len(receitas), freq="ME")
df = pd.DataFrame({"Data": datas, "Receita": receitas})

Função para suavização exponencial simples

In [4]:
def suavizacao_exponencial_simples(dados, alpha):
    resultado = [dados[0]] 
    
    for i in range(1, len(dados)):
        valor_suavizado = alpha * dados[i] + (1 - alpha) * resultado[i-1]
        resultado.append(valor_suavizado)
        
    return resultado

Aplicando a suavização com diferentes alphas

In [5]:
alpha_07 = 0.7
alpha_05 = 0.5
alpha_03 = 0.3


valores_suavizados_07 = suavizacao_exponencial_simples(df['Receita'].tolist(), alpha=alpha_07)
valores_suavizados_05 = suavizacao_exponencial_simples(df['Receita'].tolist(), alpha=alpha_05)
valores_suavizados_03 = suavizacao_exponencial_simples(df['Receita'].tolist(), alpha=alpha_03)

df_resultado = pd.DataFrame({
    "Data": datas,
    "Receita Real": receitas,
    "Alpha 0.7": valores_suavizados_07,
    "Alpha 0.5": valores_suavizados_05,
    "Alpha 0.3": valores_suavizados_03

    })

df_resultado.head(30)

         Data  Receita Real      Alpha 0.7      Alpha 0.5      Alpha 0.3
0  2023-01-31        110000  110000.000000  110000.000000  110000.000000
1  2023-02-28        113000  112100.000000  111500.000000  110900.000000
2  2023-03-31        110000  110630.000000  110750.000000  110630.000000
3  2023-04-30        111000  110889.000000  110875.000000  110741.000000
4  2023-05-31        112000  111666.700000  111437.500000  111118.700000
5  2023-06-30        115000  114000.010000  113218.750000  112283.090000
6  2023-07-31        115000  114700.003000  114109.375000  113098.163000
7  2023-08-31        120000  118410.000900  117054.687500  115168.714100
8  2023-09-30        112000  113923.000270  114527.343750  114218.099870
9  2023-10-31        112000  112576.900081  113263.671875  113552.669909
10 2023-11-30        114000  113573.070024  113631.835938  113686.868936
11 2023-12-31        125000  121571.921007  119315.917969  117080.808255
12 2024-01-31        126000  124671.576302  122657.958984  119756.565779
13 2024-02-29        131000  129101.472891  126828.979492  123129.596045
14 2024-03-31        131000  130430.441867  128914.489746  125490.717232
15 2024-04-30        134000  132929.132560  131457.244873  128043.502062
16 2024-05-31        135000  134378.739768  133228.622437  130130.451443
17 2024-06-30        137000  136213.621930  135114.311218  132191.316010
18 2024-07-31        140000  138864.086579  137557.155609  134533.921207
19 2024-08-31        139000  138959.225974  138278.577805  135873.744845
20 2024-09-30        135000  136187.767792  136639.288902  135611.621392
21 2024-10-31        135000  135356.330338  135819.644451  135428.134974
22 2024-11-30        137000  136506.899101  136409.822226  135899.694482
23 2024-12-31        144000  141752.069730  140204.911113  138329.786137

Calculando o RMSE dos modelos

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

df_resultado['Previsao_0.7'] = df_resultado['Alpha 0.7'].shift(1)
df_resultado['Previsao_0.5'] = df_resultado['Alpha 0.5'].shift(1)
df_resultado['Previsao_0.3'] = df_resultado['Alpha 0.3'].shift(1)

rmse_07 = np.sqrt(mean_squared_error(df_resultado['Receita Real'][1:], df_resultado['Previsao_0.7'][1:]))
rmse_05 = np.sqrt(mean_squared_error(df_resultado['Receita Real'][1:], df_resultado['Previsao_0.5'][1:]))
rmse_03 = np.sqrt(mean_squared_error(df_resultado['Receita Real'][1:], df_resultado['Previsao_0.3'][1:]))

print("RMSE Preditivo (Cálculo Correto)")
print(f'RMSE (Alpha 0.7): R$ {rmse_07:,.2f}')
print(f'RMSE (Alpha 0.5): R$ {rmse_05:,.2f}')
print(f'RMSE (Alpha 0.3): R$ {rmse_03:,.2f}')

--- RMSE Preditivo (Cálculo Correto) ---
RMSE (Alpha 0.7): R$ 4,221.17
RMSE (Alpha 0.5): R$ 4,697.59
RMSE (Alpha 0.3): R$ 5,937.38

Fazendo a previsão de receita para Janeiro de 2025

In [7]:
previsao_jan_2025_alpha_07 = valores_suavizados_07[-1]
previsao_jan_2025_alpha_05 = valores_suavizados_05[-1]
previsao_jan_2025_alpha_03 = valores_suavizados_03[-1]

print("Previsão de Receita para Janeiro de 2025")
print(f"Usando Alpha = 0.7: R$ {previsao_jan_2025_alpha_07:,.2f}")
print(f"Usando Alpha = 0.5: R$ {previsao_jan_2025_alpha_05:,.2f}")
print(f"Usando Alpha = 0.3: R$ {previsao_jan_2025_alpha_03:,.2f}")

Previsão de Receita para Janeiro de 2025
Usando Alpha = 0.7: R$ 141,752.07
Usando Alpha = 0.5: R$ 140,204.91
Usando Alpha = 0.3: R$ 138,329.79